{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper questions">
        <h2 class="section_title">Random questions</h2>
        <section class="symfony_form">
            {{ form_start(form) }}
            {% for child in form.children %}
                <div class="questions__random__form__tab d-none">
                    {% if child.vars.row_attr.name is defined %}
                        <h3>{{ child.vars.row_attr.name }}</h3>
                    {% endif %}
                    {{ form_row(child) }}
                </div>
            {% endfor %}
            <div class="questions__random__form__btn_group">
                <button type="button" id="prevBtn" class="btn btn-secondary ">Previous</button>
                <button type="button" id="nextBtn" class="btn btn-primary">Next</button>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}