{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>Number of questions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.questions|length }}</td>
                    <td class="actions">
                        {% include "components/atoms/edit_link.html.twig" with {
                            'path': path('app_admin_add_tags',{'tag':tag.id})
                        } %}
                        {% include "components/atoms/delete_link.html.twig" with {
                            'path': path('app_admin_delete_tags',{'tag':tag.id})
                            } %}
                    </td>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
