$primary: #0D3B66;
$secondary: #F4D1AE;
$sucess: #87D68D;
$error: #EF5D60;
$dark-grey: #403F4C;
$grey: #68667A;
$light-grey: #B2B1BE;

$border-dark: rgba($grey, 0.88);
$lighter-grey : rgba($light-grey, 0.7)