ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $secondary;

    .menu-link {
        display: flex;
        align-items: center;
        padding: 1rem 0;

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.home-link::before {
            background-image: url('../../../images/icons/maison.svg');
        }

        &.quiz-link::before {
            background-image: url('../../../images/icons/question.svg');
        }

        &.profile-link::before {
            background-image: url('../../../images/icons/rename.svg');
        }

        .sub-menu {
            display: none;
            padding-top: 2rem;

            li {
                display: flex;
                flex-direction: column;
                background-color: $lighter-grey;
                border-radius: .5rem;

                a {
                    padding: .5rem .5rem 1rem;
                    border-bottom: solid 1px white;

                    &:first-child {
                        border-top-left-radius: .5rem;
                        border-top-right-radius: .5rem;
                    }

                    &:last-child {
                        border-bottom-left-radius: .5rem;
                        border-bottom-right-radius: .5rem;
                    }

                    &:hover {
                        background-color: $grey;
                        color: $secondary;
                    }
                }
            }
        }

        &:hover .sub-menu {
            display: block;
            margin-top: 5rem;
            position: fixed;
        }
    }
}