<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Certification website
        {% endblock %}
    </title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'components/organisms/header_admin.html.twig' %}
    {% endif %}
    {% include 'components/organisms/header.html.twig' %}
{% endblock %}

{% block content %}
    <main>
        <div class="wrapper">
            {% block body %}
                {# Main content will be injected here #}
            {% endblock %}
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% include 'components/organisms/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

