<footer>
    <nav>
        <ul>
            <li><a href="/">Mention Légales</a></li>
        </ul>
    </nav>
    <p>&copy; 2024 Symfony Quiz Site. All rights reserved.</p>
    <p>Icônes UI par <a href="https://www.flaticon.com/uicons">Flaticon</a></p>
</footer>